.title a{
    color: white !important;
    text-decoration: none;
    font-size: 15px !important;
    margin-left: 25px;
    margin-right: 25px;
}
.MuiButton-label a{
    color: white !important;
    text-decoration: none;
    text-transform: capitalize;
}
.button{
    position: absolute !important;
    right: 50px !important;
}
button{
   margin-left: 10px !important;
}

